<body>
  <header>
  </header>
  <main>
  </main>
  <footer class="bg-gray-900 text-white body-font">
    <div class="px-4 py-6 mx-auto lg:py-8 sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8">
      <div class="relative flex items-center justify-between lg:justify-center lg:space-x-16">
        <ul class="flex items-center hidden space-x-8 lg:flex">
          <li><a href="/team" class="font-medium tracking-wide text-gray-100 hover:text-teal-accent-400">Notre équipe</a></li>
          <li><a href="/maps" class="font-medium tracking-wide text-gray-100 hover:text-teal-accent-400">Nous contacter</a></li>
        </ul>
        <span>WAD-IA Solutions</span>
      </div>
    </div>
  </footer>
</body>