<header>
  <nav>
    <ul>
      <li><a href="/profil">Page Profil</a></li>
      <li><a href="/accounts/signup">Page d'inscription</a></li>
      <li><a href="/login">Page d'authentification</a></li>
      <li><a href="/profil">Page de prédiction</a></li>
      <li><a href="/profil/prediction/">Page de prédiction 2</a></li>
      <li><a href="/profil/prediction/history/">Page de prédiction 3</a></li>
      <li><a href="/appointement">Page de rendez-vous</a></li>
      <li><a href="/docs">Documentation</a></li>
    </ul>
  </nav>
</header>