{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto p-6">
    <!-- Formulaire de recherche (visible uniquement pour les staff) -->
    {% if request.user.is_staff %}
    <form method="GET" action="{% url 'prediction_history' %}" class="mb-6 flex justify-center">
        <label class="border border-gray-300 px-4 py-2 font-bold">Recherche des prédictions :</label>
        <input type="text" name="q" placeholder="Rechercher par nom" 
               class="border border-gray-300 p-2 rounded-l-md w-1/3 focus:outline-none focus:ring-2 focus:ring-purple-500"
               value="{{ request.GET.q }}">
        <button type="submit" 
                class="bg-purple-500 text-white px-4 py-2 rounded-r-md hover:bg-purple-700 transition duration-200">
            Rechercher
        </button>
    </form>
    {% endif %}

    <!-- Tableau d'historique -->
    <div class="overflow-x-auto">
        <table class="table-auto border-collapse border border-gray-300 w-full mb-6">
            <thead>
                <tr class="bg-gray-200 text-left">
                    <th class="border border-gray-300 px-4 py-2">#</th>
                    <th class="border border-gray-300 px-4 py-2">Date</th>
                    <th class="border border-gray-300 px-4 py-2">Nom du Client</th>
                    <th class="border border-gray-300 px-4 py-2">Prime (€)</th>
                </tr>
            </thead>
            <tbody>
                {% for prediction in predictions %}
                <tr class="hover:bg-gray-100">
                    <td class="border border-gray-300 px-4 py-2">{{ forloop.counter }}</td>
                    <td class="border border-gray-300 px-4 py-2">{{ prediction.date_created }}</td>
                    <td class="border border-gray-300 px-4 py-2">{{ prediction.profile.user.username }}</td>
                    <td class="border border-gray-300 px-4 py-2">{{ prediction.prime|floatformat:2 }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4" class="border border-gray-300 px-4 py-2 text-center">Aucune prédiction trouvée.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Boutons d'action -->
    <div class="flex justify-center space-x-4">
        <a href="{% url 'prediction_page' %}" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700 transition duration-200">Nouvelle Simulation</a>
        <a href="{% url 'home' %}" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-gray-700 transition duration-200">Annuler</a>
    </div>
</div>
{% endblock %}
